input[name="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.two-steps--on .label span {
    color: #8dae28;
}

.two-steps--off .label span {
    color: #b3000a;
}
